*   {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-bg);
    overflow-x: hidden;
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg {
    /* ff 3.6+ */
    background:-moz-linear-gradient(181deg, rgba(18, 69, 125, 1) 5%, rgba(4, 12, 24, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(181deg, rgba(18, 69, 125, 1) 5%, rgba(4, 12, 24, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(181deg, rgba(18, 69, 125, 1) 5%, rgba(4, 12, 24, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040C18', endColorstr='#12457D', GradientType=1 );

    /* ie 10+ */
    background:-ms-linear-gradient(181deg, rgba(18, 69, 125, 1) 5%, rgba(4, 12, 24, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(181deg, rgba(18, 69, 125, 1) 5%, rgba(4, 12, 24, 1) 100%);

}
         
.homepage__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    padding: 2rem 0 2rem 2rem;
}

.homepage__top > * {
    margin: 1rem 0 1rem 1rem;
}

.gradient__text {
    background-color: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section__padding {
    padding: 4rem 6rem;
}

.section__margins {
    margin: 4rem 6rem;
}


/* support for tablets */
@media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem;
    }

    .section__margins {
        margin: 4rem;
    }
}


/* support for phones */
@media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem 2rem;
    }

    .section__margins {
        margin: 4rem 2rem;
    }
}

